<!DOCTYPE html>
<html>
    <head>
        <title>About Page</title>

        <link rel="icon" href="/images/weather.png" />
        <link rel="stylesheet" href="/css/styles.css" />
        
    </head>
    <body>
        <div class="layer-mainContent">
            {{>header}}
            <p>This site was created by <strong>Latif</strong>. It uses data from mapbox.com and darksky.net!</p>
            <img src="/images/random.jpg" class="img-profile" />
        </div>
        {{>footer}}
    </body>
</html>