<!DOCTYPE html>
<html>
    <head>
        <title>Help Page</title>

        <link rel="icon" href="/images/weather.png" />
        <link rel="stylesheet" href="/css/styles.css" />
        
    </head>
    <body>
        <div class="layer-mainContent">
            {{>header}}
            <p>{{helpText}}</p>
        </div>
        {{>footer}}
    </body>
</html>