<header>
    <h1>{{title}}</h1>
    
    <ul class="listing-nav">
        <li><a href="/" title="Weather">Weather</a></li>
        <li><a href="/about" title="About">About</a></li>
        <li><a href="/help" title="Help">Help</a></li>
    </ul>
</header>