body {
    color: #333;
    font-family: arial;
    margin: 0 auto;
    max-width: 650px;
    padding: 0 15px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}

h1, h2, h3, h4, h5, h6, p { margin: 0 0 12px; }

h1 { color: #001689; font-size: 64px; }

.layer-mainContent {
    flex-grow: 1;
}

header {
    margin: 15px 0 48px;
}

footer {
    border-top: 1px solid #EEE;
    color: #888;
    margin: 20px 0 0;
    padding: 20px 0;
}

footer p { margin-bottom: 0; }

img.img-profile { height: 250px; width: 250px; }

.listing-nav { list-style-type: none; margin: 0 0 20px; padding: 0; }
.listing-nav li { display: inline-block; margin: 0 10px 0 0; }
.listing-nav li a { color: #888; text-decoration: none; }

form { margin: 0 0 20px; }
form input { border: 1px solid #D9D9D9; border-radius: 0; font-size: 16px; margin: 0; min-width: 180px; padding: 8px 10px; }
form button { background-color: #CCC; border: 1px solid #D9D9D9; border-radius: 5px; cursor: pointer; font-size: 16px; margin: 0; padding: 8px 10px; }

.listing-weatherInfo { margin: 0; padding: 0; }
.listing-weatherInfo li { list-style-type: none; margin: 0 0 10px; }